*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: InterRegular;
  src: url("../src/components/Fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
  font-family: InterBold;
  src: url("../src/components/Fonts/Inter/static/Inter-Bold.ttf");
}

@font-face {
  font-family: PoppinsRegular;
  src: url("../src/components/Fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: RobotoRegular;
  src: url("../src/components/Fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: InriaRegular;
  src: url("../src/components/Fonts/Inria/InriaSerif-Regular.ttf");
}

@font-face {
  font-family: AntiquaRegular;
  src: url("../src/components/Fonts/Antiqua/InknutAntiqua-Regular.ttf");
}
